{% extends 'base/base.html' %}
{% block content %}
 <main>
           <img src="/static/img/Vector4.png" alt="" class="cursor cursor_fly">
           <img src="/static/img/Vector9.png" alt="" class="cursor">
           <img src="/static/img/Vector4.png" alt="" class="cursor cursor_fly">
           <img src="/static/img/Vector4.png" alt="" class="cursor cursor_fly">
           <img src="/static/img/Vector9.png" alt="" class="cursor">
           <img src="/static/img/Vector7.png" alt="" class="cursor">
           <img src="/static/img/Vector4.png" alt="" class="cursor cursor_fly">
       <section class="main_first_section">
           <div class="main_sc1_items">
              <div class="main_sc1_left_item">
                  <div class="m_sc1_left_clip_block">
                      <img src="/static/img/map.png" alt="">
                  </div>
              </div>
              <div class="main_sc1_right_item ">
                  <div class="m_sc1_right_text_block1">
                      <p>
                          At Fastplus Cargo We Care, We Deliver, We Respect!
                      </p>
                  </div>
                  <div class="m_sc1_right_text_block2">
                      <p>
                          WE HAVE PROGRAMS FOR COMPANY DRIVERS, LEASE DRIVERS AND OWNER OPERATORS.

                      </p>
                  </div>
              </div>
           </div>
           <div class="main_sc2_item">
               <div class="main_sc2_item_carousel">
                   <div class="swiper main_sc2_swipper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="m_sc2_cart_img1">
                                        <a>
                                            <img src="/static/img/cartimg1.png" alt="">
                                        </a>
                                </div>
                                <div class="main_sc2_carousel_carst">
                                    <div class="cart_text_block1">
                                        <p>We hire experienced truckers</p>
                                    </div>
                                    <div class="cart_text_block2">
                                        <p>
                                            Our team includes owner-operators and company drivers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="m_sc2_cart_img2">
                                        <a>
                                            <img src="/static/img/cartimg2.png" alt="">
                                        </a>
                                 </div>
                                <div class="main_sc2_carousel_carst">
                                   <div class="cart_text_block1">
                                        <p>Drop-and-Hook Freight</p>
                                    </div>
                                    <div class="cart_text_block2">
                                        <p>
                                            It’s efficient, time saving and gets you back on the road quickly.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide pt-3">
                                 <div class="m_sc2_cart_img3">
                                        <a>
                                            <img src="/static/img/cartimg3.png" alt="">
                                        </a>
                                </div>
                                <div class="main_sc2_carousel_carst">
                                   <div class="cart_text_block1">
                                        <p>Operating all 48 States</p>
                                    </div>
                                    <div class="cart_text_block2">
                                        <p>
                                            Proudly delivering across all states, cities of the USA
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination main_sc2_pagination"></div>
                    </div>
               </div>
           </div>
       </section>
       <section class="main_second_section" id="services">
           <div class="section_items1 ">
               <div class="servis_text_block mb-4">
                  <h1>
                      LOGISTICS SERVICES AND DEPENDABLE TRUCKING
                  </h1>
                  <p>
                      Want to get the best rates for moving your freight? You need the help of a qualified logistics company who has an
                      established network of carriers at the ready to haul cargo, as quickly as possible. Fastplus Cargo provides for all of your
                      logistics needs, including transportation, to ensure you’re getting significant savings that show up on the bottom line.
                      Our efficient team is standing by to make logistics simple, including providing transparency when it comes to the chain of
                      custody. In other words, we provide you with unmatched peace of mind as a crucial part of your business’ supply chain.
                      Leave all the detail work of logistics and transportation to the experts, so you have more time to grow your company. We’re
                      your partner for inbound and outbound operational success.
                  </p>
               </div>
               <div class="servis_image_block">
                   <div class="servis_image1">

                   </div>
               </div>
           </div>
           <div class="section_items2">
               <div class="servis_image_block mb-4">
                   <div class="servis_image2">

                   </div>
               </div>
               <div class="servis_text_block">
                   <h1>
                     OUR TEAM OF EXPERIENCED TRUCK DRIVERS
                  </h1>
                  <p>
                      As a fastest and safest growing trucking company we are proud of our team of drivers and we always look for qualified safe
                      drivers to join our team. We offer one of the best driver packages in the industry. We offer excellent pay and benefits, and
                      we always strive to keep drivers work-life balance in mind. Our upgraded equipment makes drivers job easier and we make
                      sure that our drivers have what they need over the road and personal life.
                  </p>
               </div>
           </div>
       </section>
       <section class="main_third_section" id="for_drives">
            <div class="sc3_text_block">
                <div>
                     <h1>
                         <!---<i class="fa-solid fa-question"></i> --><span class="ml-2">WHY FASTPLUS CARGO?</span> 
                     </h1>
                     <h1>
                         <div></div>
                         <span class="for_circle"></span>
                         <span class="ml-2">CUSTOMER FIRST</span>
                         <div></div>
                         <span class="for_circle"></span>
                         <span class="ml-2">LOYAL AND HONEST</span>
                         <div></div>
                         <span class="for_circle"></span>
                         <span class="ml-2">DRIVING EXCELLENCE</span>
                         <div></div>
                         <span class="for_circle"></span>
                         <span class="ml-2">ONE FAMILY</span>
                     </h1>
                </div>
                <div>
                    <p>
                        We enjoy outstanding partnership with our partners and companies choose Fastplus Cargo for
                        dependability, professionalism and exceptional customer service. Our customers continue to grow with
                        us and prefer to work with our company because we are the safest, innovative and loyal. Together, we
                        will move the country forward.
                    </p>
                    <p>
                        We directly handle business with biggest retail and logistics companies. Such as Amazon, FedEx, UPS,
                        Walmart. We also work closely with major brokerage firms such as Coyote, J.B Hunt, Landstar, TQL and
                        others.
                    </p>
                </div>
            </div>
       </section>
       <div class="mobile_text">
                <p>
                     We enjoy outstanding partnership with our partners and companies choose Fastplus Cargo for
                     dependability, professionalism and exceptional customer service. Our customers continue to grow with
                     us and prefer to work with our company because we are the safest, innovative and loyal. Together, we
                     will move the country forward.
                </p>
                <p>
                    We directly handle business with biggest retail and logistics companies. Such as Amazon, FedEx, UPS,
                    Walmart. We also work closely with major brokerage firms such as Coyote, J.B Hunt, Landstar, TQL and
                    others.
                </p>
       </div>
        <section class="main_new_section" >
           <div class="container_cargo">
              <div class="about_us_text">
                  <h1>
                     OUR PARTNERS
                  </h1>
              </div>
           </div>
           <div class="swiper new_section_swiper1">
               <div class="swiper-wrapper">
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners1.png" alt="">
                       </a>
                   </div>
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners2.png" alt="">
                       </a>
                   </div>
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners3.png" alt="">
                       </a>
                   </div>
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners1.png" alt="">
                       </a>
                   </div>
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners2.png" alt="">
                       </a>
                   </div>
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners3.png" alt="">
                       </a>
                   </div>
               </div>
           </div>
           <div class="swiper new_section_swiper2">
               <div class="swiper-wrapper">
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners4.png" alt="">
                       </a>
                   </div>
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners5.png" alt="">
                       </a>
                   </div>
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners6.png" alt="">
                       </a>
                   </div>
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners4.png" alt="">
                       </a>
                   </div>
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners5.png" alt="">
                       </a>
                   </div>
                   <div class="swiper-slide new_slide">
                       <a>
                           <img src="/static/img/partners6.png" alt="">
                       </a>
                   </div>
               </div>
           </div>
       </section>
       <section class="main_fourth_section" id="about_us">
           <div class="container_cargo">
              <div class="about_us_text">
                  <h1>
                     ABOUT US
                  </h1>
              </div>
              <div class="sc4_carts_swipper">
                  <div class="for_swiper-wrapper">
                      <div class="for_swiper-slide">
                          <div class="swiper_carts">
                              <img src="/static/img/swiperimg1.png">
                          </div>
                          <div class="swiper_texts">
                              <p>
                                 Fastplus Cargo is proud to be one of the fastest growing logistics company to serve across the United States. Thanks to our
                                 great team and partners we are hitting the every milestone on our way. We operate all 48 states with fleet of the latestgeneration trucks.
                              </p>
                          </div>
                      </div>
                      <div class="for_swiper-slide">
                          <div class="swiper_carts">
                              <img src="/static/img/swiperimg2.png">
                          </div>
                          <div class="swiper_texts">
                              <p>
                                 Customer satisfaction is our main goal. We will work extra in order to provide an exceptional service to our customers.
                                 Drivers our reliable strength. We value their hard work, we treat them with respect and dignity. We are one family that
                                 always work as a team, assist and help each other to complete the tasks in its best way.
                              </p>
                          </div>
                      </div>
                      <div class="for_swiper-slide">
                          <div class="swiper_carts">
                              <img src="/static/img/swiperimg3.png">
                          </div>
                          <div class="swiper_texts">
                              <p>
                                 We are advance logistics trucking company and dedicated providing a professional assistance in the process of freight
                                 transportation, as well as reliable support to both our clients and partners.
                              </p>
                          </div>
                      </div>
                      <div class="for_swiper-slide">
                          <div class="swiper_carts">
                              <img src="/static/img/swiperimg4.png">
                          </div>
                          <div class="swiper_texts">
                              <p>
                                As trucking faces its greatest challenge, we remain ommitted to ensuring the highest standards of safety and SOP rules on
                                the roads of United States at all times.
                              </p>
                          </div>
                      </div>
                  </div>
                  <div class="swiper-pagination main_sc2_pagination"></div>
              </div>
           </div>
       </section>
      
       <section class="main_fiveth_section" id="reviews">
           <div class="container_cargo">
               <div class="clients_things_text">
                  <h1>What People and Clients <br> Think About Us?</h1>
                </div>
           </div>
           <div class="swiper sc5_swiper">
               <div class="swiper-wrapper">
                           <div class="swiper-slide sc5_slide">
                               <div class="sc5_slide_cart">
                                  <div class="about_clients">
                                       <a>
                                            <img src="/static/img/Ellipse.png" alt="">
                                       </a>
                                       <p>JONAH ANTONYAN</p>
                                   </div>

                                   <div class="client_comment" >
                                       <p>
                                        Great company to work with! Friendly dispatch and impeccable service. Go to FASTPLUS CARGO with all your logistics needs!
                                       </p>
                                   </div>

                                   <div class="client_stars">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                   </div>
                               </div>
                           </div>
                           <div class="swiper-slide sc5_slide">
                               <div class="sc5_slide_cart">
                                  <div class="about_clients">
                                       <a>
                                            <img src="/static/img/Ellipse2.png" alt="">
                                       </a>
                                       <p>MICHAEL GRAHAM</p>
                                   </div>

                                   <div class="client_comment">
                                       <p>
                                        I rarely write reviews, but this company did such a good job for us that I am taking the time out to let you know. The service was excellent, they updated us on the drivers position during a critical load. They have excellent drivers and are great to work with. I highly recommend them and look forward to doing more business with them in the future.
                                       </p>
                                   </div>

                                   <div class="client_stars">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                   </div>
                               </div>
                           </div>
                           <div class="swiper-slide sc5_slide">
                               <div class="sc5_slide_cart">
                                  <div class="about_clients">
                                       <a>
                                            <img src="/static/img/Ellipse3.png" alt="">
                                       </a>
                                       <p>KONST ANDREEV</p>
                                   </div>

                                   <div class="client_comment">
                                       <p>
                                       A high-class transport company with favorable tariffs for the transportation of goods over long distances. I noticed that the further the distance, the more profitable the logistics. The cargo always reached its destination on time, safe and sound, reliable company.
                                       </p>
                                   </div>

                                   <div class="client_stars">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                   </div>
                               </div>
                           </div>
                           <div class="swiper-slide sc5_slide">
                               <div class="sc5_slide_cart">
                                  <div class="about_clients">
                                       <a>
                                            <img src="/static/img/Ellipse4o.png" alt="">
                                       </a>
                                       <p>ELIE SANDERS</p>
                                   </div>

                                   <div class="client_comment">
                                       <p>
                                       Great company in every way. I've been on a road for 7 years and been with FASTPLUS CARGO for a year now. Company that cares for you and is working with you not against you. Thank you all FPC team for making this experience best of all others.
                                       </p>
                                   </div>

                                   <div class="client_stars">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                   </div>
                               </div>
                           </div>
                           <div class="swiper-slide sc5_slide">
                               <div class="sc5_slide_cart">
                                  <div class="about_clients">
                                       <a>
                                            <img src="/static/img/Ellipse5.png" alt="">
                                       </a>
                                       <p>ZACK PATTERSON</p>
                                   </div>

                                   <div class="client_comment">
                                       <p>
                                       
FASTPLUS CARGO one of the best out there, High quality staff, very well organized, late model equipment, very knowledgeable about the trucking industry overall, and they help drivers to develop and give support in times of need.

                                       </p>
                                   </div>

                                   <div class="client_stars">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                   </div>
                               </div>
                           </div>
                           <div class="swiper-slide sc5_slide">
                               <div class="sc5_slide_cart">
                                  <div class="about_clients">
                                       <a>
                                            <img src="/static/img/Ellipse6.png" alt="">
                                       </a>
                                       <p>ILYAS YAKUBOV</p>
                                   </div>

                                   <div class="client_comment">
                                       <p>
                                       
I want to share with my experience in this company. Friendly company they will always help in a difficult situation and there are also friendly employees of the company. Have contracts with Amazon, FedEx, UPS, JB Hunt, XPO your all time will be with load. Highly recommend!
                                       </p>
                                   </div>

                                   <div class="client_stars">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                   </div>
                               </div>
                           </div>
                           <div class="swiper-slide sc5_slide">
                               <div class="sc5_slide_cart">
                                  <div class="about_clients">
                                       <a>
                                            <img src="/static/img/Ellipse7.png" alt="">
                                       </a>
                                       <p>EMMANUEL NELSON</p>
                                   </div>

                                   <div class="client_comment">
                                       <p>
                                       
I have been working FASTPLUS CARGO since November 2021. It is a great and reliable company to work. Safety is number one priority for this company. You don't worry about missing your paychecks. They have amazing hardworking dispatchers who works 24/7 to get you loads and assist you right away anything you need when you on the road.
                                       </p>
                                   </div>

                                   <div class="client_stars">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                   </div>
                               </div>
                           </div>
                           <div class="swiper-slide sc5_slide">
                               <div class="sc5_slide_cart">
                                  <div class="about_clients">
                                       <a>
                                            <img src="/static/img/Ellipse8.png" alt="">
                                       </a>
                                       <p>JACOB SANDERS</p>
                                   </div>

                                   <div class="client_comment">
                                       <p>
                                       
Great group of individuals to work with. Honest, hardworking, respectful, great equipment, 24/7 updates, and a company that cares about your freight. Thank you FASTPLUS!
                                       </p>
                                   </div>

                                   <div class="client_stars">
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                       <i class="fa fa-star"></i>
                                   </div>
                               </div>
                           </div>
               </div>
               <div class="swiper-pagination main_sc2_pagination"></div>
           </div>
       </section>
       <section class="main_sixth_section">
           <div class="container_cargo">
              <div class="clients_things_text">
                  <h1>Request a quote</h1>
              </div>
           </div>
           <div class="sign_up_block" id="quote">
               <div class="sign_up_inputs">
                   <form action="" method="POST" id="form">
                      <div class="inputs">

                          <div>
                            <a class="inp_icon">
                                <i class="fa fa-user"></i>
                            </a>
                            {{form.name}}
                          </div>
                          <div>
                            <a class="inp_icon">
                                <i class="fas fa-envelope"></i>
                            </a>
                            {{form.email}}
                          </div>
                      </div>
                      <div class="inputs">
                          <div>
                             <a class="inp_icon">
                                <i class="fas fa-phone"></i>
                             </a>
                              {{form.tel}}
                          </div>
                          <div>
                            <a class="inp_icon">
                                <i class="fas fa-envelope-open-text"></i>
                            </a>
                              {{form.company_name}}
                          </div>
                      </div>
                      <div class="inputs">
                          <div>
                                <a class="inp_icon">
                                    <i class="fas fa-flag"></i>
                                </a>
                              {{form.mc}}
                          </div>
                          <div>
                              {{form.dry_van}}
                              <label>Dry van</label>
                              {{form.reefer}}
                              <label for="check2">Reefer</label>
                              {{form.flat_bed}}
                              <label for="check4">Flat bed</label>
                          </div>
                      </div>
                      <div class="inputs">
                          <a class="textarea_icon">
                              <i class="fas fa-flag"></i>
                          </a>
                          {{form.message}}
                      </div>
                      <div class="inputs">
                          <div>
                              <input type="submit" value="submit">
                          </div>
                          <div>
                              {{form.need_driver_assistence}}
                              <label for="check5">Need driver assistance</label>
                          </div>
                      </div>
                   </form>
               </div>
               <div class="sign_up_map">
                   <div style="width: 100%; height:100%;"><iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=usa%20horizona%20%20columbus%20ohio+(Fastpluscargo)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/golf-gps/">buy golf golf</a></iframe></div>

               </div>
           </div>
       </section>
    </main>
    <div class="alert">
        <div class="alert_block">
            <div class="alert_item">
                <i class="fa fa-check">
                    
                </i>
            </div>
            <div class="alert_text">
                <p>
                    
                </p>
            </div>
        </div>
    </div>
    <div class="to_top">
        <a href="#header">
            <i class="fa-solid fa-arrow-up"></i>
        </a>
    </div>
    <div class="loader">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
{% endblock %}