<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="At Fastplus Cargo We Care, We Deliver">
    <meta name="keywords" content="Fastplus,Cargo,Fordrivers,Trucs,Applytodirive,fastpluscargo">
    <meta name="author" content="Abdukarim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- FONTAWESOME CDN v6.0 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap" rel="stylesheet">
    <!-- LOCAL STYLES -->
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
<section class="section_modal_apply">
        <div class="container_cargo">
            <div class="back_to_home">
                <h1>
                    <a href="{% url 'main:home' %}">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </h1>
            </div>
            <div class="about_us_text">
                <h1>Driver jobs</h1>
            </div>
            <div class="modal_text">
                <p>The truck driving industry has experienced significant growth over the past few decades. As consumer demand continues to raise the need for qualified freight  drivers, there’s never been a better time to consider truck driving jobs. Join our team and find out why drivers love working at Fastplus Cargo.</p>
            </div>
            <div class="modal_apply">
                <div class="modal_title">
                    <p>Driver’s Application</p>
                </div>
                <form action="" method="POST" id="form2">
                    {% csrf_token %}
               		<div class="forms">
                		<div class="grid_input">
                			<div class="grid_input_in">
                                <label>
                                    First name
                                </label>
                				{{form.first_name}}
                			</div>
                			<div class="grid_input_in">
                                <label>
                                    Last name
                                </label>
                                {{form.last_name}}         
                            </div>
                			<div class="grid_input_in">
                                <label>
                                    Email
                                </label>
                                {{form.email}}         
                            </div>
                			<div class="grid_input_in">
                                <label>
                                    Phone
                                </label>
                                {{form.phone}}         
                            </div>
                			<div class="grid_input_in">
                                <label>
                                    Driver license number
                                </label>
                                {{form.driver_license}}         
                            </div>
                			<div class="grid_input_in">
                                <label>
                                    State
                                </label>
                                {{form.state}}        
                            </div>
                            <div class="grid_input_in" >
                                <label>
                                   Driving information
                                </label>
                                {{form.driving_information}}        
                            </div>
                            <div class="grid_input_in" >
                                <label>
                                    How many years of verifiable commercial truck driving experience do you have?
                                </label>
                                {{form.how_many_years}}       
                            </div>
                            <div class="grid_input_in" >
                                <label>
                                    Previous employer
                                </label>
                                {{form.previus_employer}}        
                            </div>
                            <div class="grid_input_in" >
                                <label>
                                    Which position are you interested in?
                                </label>
                                {{form.which_position}}         
                            </div>
                            <div class="grid_input_in" >
                                <label style="color:#FFCE4E;">
                                    a
                                </label>
                                <input type="submit">       
                            </div>
                		</div>
               		</div>
                </form> 
            </div>
        </div>
    </section>
    <div class="alert">
        <div class="alert_block">
            <div class="alert_item">
                <i class="fa fa-check">
                    
                </i>
            </div>
            <div class="alert_text">
                <p>
                    
                </p>
            </div>
        </div>
    </div>
    <div class="loader">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
<script>
let form = document.querySelector("#form2");
form.addEventListener("submit", e=>{

let fd = new URLSearchParams(Array.from(new FormData(form))).toString()
document.querySelector(".loader").style.display = "flex"
e.preventDefault();
var http = new XMLHttpRequest();
http.open('POST', '', true)
http.onreadystatechange = function(){
    if (http.readyState === 4 && http.status === 200) {
        let res = JSON.parse(this.response)
        if (res.status == 200){
        document.querySelector(".alert").classList = "alert for_alert"
        document.querySelector(".alert_item").querySelector("i").classList = "fa fa-check"
        document.querySelector(".alert_text").querySelector("p").innerHTML = "Successfully"
        document.querySelector(".alert").onclick = function(){
        document.querySelector(".alert").className = "alert"
        document.querySelector(".loader").style.display = "none"

        }
        form.querySelectorAll('input').forEach(function(e){
        e.value = ""
        })
        form.querySelectorAll('select').forEach(function(e){
        e.value = ""
        })
        form.querySelector('textarea').value = ""
        setTimeout(()=>{
            window.location = window.location.origin
        },2000)
        }
        else{
            
        document.querySelector(".alert").classList = "alert for_alert"
        document.querySelector(".alert_item").style = "color:red;"
        document.querySelector(".alert_item").querySelector("i").classList = "fa fa-times"
        document.querySelector(".alert_text").querySelector("p").innerHTML = "Something went wrong, please try again"
        document.querySelector(".alert").onclick = function(){
        document.querySelector(".alert").className = "alert"
        document.querySelector(".loader").style.display = "none"

        }    

        }
    }
}
http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded')
http.send(fd)
})

</script>
</body>
</html>